<!DOCTYPE html>
<head>
    <title>챔피언 정보</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/champion.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="./"><img src="/static/image/logo.png" style="width: 200px;"></a>
        <div class="collapse navbar-collapse" id="navbarColor01"></div>

        {% if session['user_info'] %}
            <div style="color: white;">{{session['user_info'][1]}}&nbsp |  &nbsp<a href="/logout">로그아웃</a></div>
        {% else %}
            <a href="/signin_page">로그인</a>
        {% endif %}
        &nbsp&nbsp&nbsp
        <form class="form-inline my-2 my-lg-0" action="/search">
            <input class="form-control mr-sm-2" type="text" name="name" placeholder="소환사명을 검색하세요">
            <input class="btn btn-secondary my-2 my-sm-0" type="submit" value="검색"></button>
        </form>
        </div>
    </nav>

    <div class="grid-container">
        <div class="item">
            <div class="title"><a href="/champion">챔피언 리스트</a></div>
            <div class="content">
                <a href="/champion?initial=ㄱ"><span>ㄱ</span></a>
                <a href="/champion?initial=ㄴ"><span>ㄴ</span></a>
                <a href="/champion?initial=ㄷ"><span>ㄷ</span></a>
                <a href="/champion?initial=ㄹ"><span>ㄹ</span></a>
                <a href="/champion?initial=ㅁ"><span>ㅁ</span></a>
                <a href="/champion?initial=ㅂ"><span>ㅂ</span></a>
                <a href="/champion?initial=ㅅ"><span>ㅅ</span></a>
                <a href="/champion?initial=ㅇ"><span>ㅇ</span></a>
                <a href="/champion?initial=ㅈ"><span>ㅈ</span></a>
                <a href="/champion?initial=ㅊ"><span>ㅊ</span></a>
                <a href="/champion?initial=ㅋ"><span>ㅋ</span></a>
                <a href="/champion?initial=ㅌ"><span>ㅌ</span></a>
                <a href="/champion?initial=ㅍ"><span>ㅍ</span></a>
                <a href="/champion?initial=ㅎ"><span>ㅎ</span></a>
            </div>
        </div>
        {% for i in champ %}
        <div class="item">
            <div>
                <input type="hidden" id="champId" name="champId" value="{{ i[0] }}" />
                <span class="game-data">
                    <a href="/champ/detail?name={{i[0]}}">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{ i[0] }}_0.jpg" />
                    </a>
                </span>
            </div>
            <div><a href="/champ/detail?name={{i[0]}}">{{ i[1] }}</a></div>
        </div>
        {% endfor %}
    </div>
</body>