<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DODGE ME</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/search.css">

    <link href="{{ url_for('static', filename="css/board-style.css") }}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/moon.css">
    <style>
        table img {
            width: 64px;
            height: 64px;
        }
    </style>


    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="./"><img src="/static/image/logo.png" style="width: 200px;"></a>
        <div class="collapse navbar-collapse" id="navbarColor01"></div>

        {% if session['user_info'] %}
        <div style="color: white;">{{session['user_info'][1]}}&nbsp | &nbsp<a href="/logout">로그아웃</a></div>
        {% else %}
        <a href="/signin_page">로그인</a>
        {% endif %}
        &nbsp&nbsp&nbsp
        <form class="form-inline my-2 my-lg-0" action="/search">
            <input class="form-control mr-sm-2" type="text" name="name" placeholder="소환사명을 검색하세요">
            <input class="btn btn-secondary my-2 my-sm-0" type="submit" value="검색"></button>
        </form>
        </div>
        
    </nav>

    <main class="container" style="margin-top: 50px;">

        <div class="dic2">
            <div class="dic1">
                <div class="inputarea">
                    <input class="searchbar" type="text" placeholder="검색어를 입력해주세요" value="">
                    <button class="searchBtn" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>

            <div class="dic_category">
                <table class="dic_table">
                    <thead>
                        <tr>
                            <td>아이템 이름</td>
                            <td style="width: 180px;">가격</td>
                            <td style="width: 280px;">설명</td>
                            <td>스탯</td>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
                <div class="paging" id="paging">
                    <ul>
                    </ul>
                </div>
            </div>
            
        </div>

    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <script>
        let item = [];

        function search_commdata(){
            let item_info = item[0];
            let data = [];
            let search_key = $(".searchbar").val();
            console.log("서치키 : ", search_key);
            if(search_key === ""){
                alert("검색어를 입력해 주세요.");
            }else{
                $(".dic_table tbody").empty();
                for(let ii in item_info){
                    if(item_info[ii]['name'].includes(search_key)){
                        data.push(item_info[ii])
                    }
                }
             
                if(data.length === 0){
                    $(".dic_table tbody").append("<tr><td colspan='4'>검색 결과가 없습니다.</td></tr>")
                }else{
                    for(let i in data){
                        $(".dic_table tbody").append(`
                        <tr>
                            <td>
                                <img src='http://ddragon.leagueoflegends.com/cdn/11.11.1/img/item/${data[i]['image']['full']}'><br>
                                ${data[i]['name']}
                            </td>
                            <td>
                                ${data[i]['gold']['total']}G<br>
                                <p style="font-size: 5px;">판매 : ${data[i]['gold']['sell']}G</p>
                            </td>
                            <td><p>${data[i]['plaintext']}</p></td>
                            <td class='des_${i}'><p>${data[i]['description']}</p></td>
                        </tr>
                        `);
                    }
                }
                
            }
        }

        $('.searchBtn').click(function () {
            search_commdata();
        });
        $(".searchbar").keyup(function (e) {
            if (e.keyCode == 13) {
                search_commdata();
            }
        });

        function getItemData(pageInfo) {
            $.ajax({
                url: "/item_info",
                type: "GET",
                dataType: "json",
                error: function (request, status, error) {
                    console.log("연결실패")
                }
            }).done(function (data) {
                item.push(data);
                for(var i in data){
                    $(".dic_table tbody").append(`
                        <tr>
                            <td>
                                <img src='http://ddragon.leagueoflegends.com/cdn/11.11.1/img/item/${data[i]['image']['full']}'><br>
                                ${data[i]['name']}
                            </td>
                            <td>
                                ${data[i]['gold']['total']}G<br>
                                <p style="font-size: 5px;">판매 : ${data[i]['gold']['sell']}G</p>
                            </td>
                            <td><p>${data[i]['plaintext']}</p></td>
                            <td class='des_${i}'><p>${data[i]['description']}</p></td>
                        </tr>
                    `);
                }
            })
        }

        getItemData();

    </script>

    </body>

</html>